<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <title>Git Bloggin!</title>
    {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css" /> --}}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand logo">Git Bloggin!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/"><button
                  class="btn nav-button"
                >Home</button></a>
            </li>
            {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link" href="/dashboard"><button
                    id="dashboard"
                    class="btn nav-button"
                  >Dashboard</button></a>
              </li>
              <li class="nav-item">
                <a href="/dashboard" class="nav-link"><button
                    id="logout"
                    class="btn logout-button"
                  >Logout</button></a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/login"><button
                    class="btn submit-button"
                  >Login/Sign Up</button></a>
              </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    <main class="home-main">
      <div class="container blog">
        {{{body}}}
      </div>
    </main>
    <footer
      class="card text-center"
      style="background-color: #00a3cc; color: white; margin-top: 150px;"
    > --- Git Bloggin! 2022 --- </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
    ></script>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>