<div>
    <div>
        <h2 class="form-heading">Login</h2>
        <form class="form formLogIn">
            <div class="form-group">
                <label for="loginUsername">Username:</label>
                <input class="form-input" type="text" id="loginUsername" />
            </div>
            <div class="form-group">
                <label for="loginPassword">Password:</label>
                <input class="form-input" type="password" id="loginPassword" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
            </div>
        </form>
    </div>
    <div>
        <h2 class="form-heading">Sign Up</h2>
        <form class="form formSignUp">
            <div class="form-group">
                <label for="signupUsername">Username:</label>
                <input class="form-input" type="text" id="signupUsername" />
            </div>
            <div class="form-group">
                <label for="signupEmail">Email:</label>
                <input class="form-input" type="text" id="signupEmail" />
            </div>
            <div class="form-group">
                <label for="signupPassword">Password:</label>
                <input class="form-input" type="password" id="signupPassword" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" id="signupButton">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>